In [24]:
import pandas as pd
df1 = pd.read_csv("ToyotaCorolla.csv", encoding='iso-8859-1')

In [25]:
# print the dataframe and its shape
print(df1)
print(df1.shape)

        Id                                              Model  Price  \
0        1      TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13500
1        2      TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13750
2        3     Â TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13950
3        4      TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  14950
4        5        TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors  13750
...    ...                                                ...    ...
1431  1438         TOYOTA Corolla 1.3 16V HATCHB G6 2/3-Doors   7500
1432  1439  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...  10845
1433  1440  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...   8500
1434  1441  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...   7250
1435  1442        TOYOTA Corolla 1.6 LB LINEA TERRA 4/5-Doors   6950

      Age_08_04  Mfg_Month  Mfg_Year     KM Fuel_Type   HP  Met_Color  ...  \
0            23         10      2002  46986    Diesel   90          1  ...
1            23         10      2002  72937    Diesel   90          1  ...
2            24          9      2002  41711    Diesel   90          1  ...
3            26          7      2002  48000    Diesel   90          0  ...
4            30          3      2002  38500    Diesel   90          0  ...
...         ...        ...       ...    ...       ...  ...        ...  ...
1431         69         12      1998  20544    Petrol   86          1  ...
1432         72          9      1998  19000    Petrol   86          0  ...
1433         71         10      1998  17016    Petrol   86          0  ...
1434         70         11      1998  16916    Petrol   86          1  ...
1435         76          5      1998      1    Petrol  110          0  ...

     Central_Lock  Powered_Windows  Power_Steering  Radio  Mistlamps  \
0               1                1               1      0          0
1               1                0               1      0          0
2               0                0               1      0          0
3               0                0               1      0          0
4               1                1               1      0          1
...           ...              ...             ...    ...        ...
1431            1                1               1      0          1
1432            0                0               1      0          0
1433            0                0               1      0          0
1434            0                0               0      0          0
1435            0                0               1      0          0

      Sport_Model  Backseat_Divider  Metallic_Rim  Radio_cassette  Tow_Bar
0               0                 1             0               0        0
1               0                 1             0               0        0
2               0                 1             0               0        0
3               0                 1             0               0        0
4               0                 1             0               0        0
...           ...               ...           ...             ...      ...
1431            1                 1             0               0        0
1432            1                 1             0               0        0
1433            0                 1             0               0        0
1434            0                 1             0               0        0
1435            0                 0             0               0        0

[1436 rows x 38 columns]
(1436, 38)

In [26]:
#drop the columns
df = df1.drop(df1.columns[[0,1,4,5,7,9,10,11,14,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37]],axis=1)
df.shape

(1436, 9)

In [27]:
#step2:data visualization
#scatterplot
df.corr()

,Price,Age_08_04,KM,HP,cc,Doors,Gears,Quarterly_Tax,Weight
Price,1.000000,-0.876590,-0.569960,0.314990,0.126389,0.185326,0.063104,0.219197,0.581198
Age_08_04,-0.876590,1.000000,0.505672,-0.156622,-0.098084,-0.148359,-0.005364,-0.198431,-0.470253
KM,-0.569960,0.505672,1.000000,-0.333538,0.102683,-0.036197,0.015023,0.278165,-0.028598
HP,0.314990,-0.156622,-0.333538,1.000000,0.035856,0.092424,0.209477,-0.298432,0.089614
cc,0.126389,-0.098084,0.102683,0.035856,1.000000,0.079903,0.014629,0.306996,0.335637
Doors,0.185326,-0.148359,-0.036197,0.092424,0.079903,1.000000,-0.160141,0.109363,0.302618
Gears,0.063104,-0.005364,0.015023,0.209477,0.014629,-0.160141,1.000000,-0.005452,0.020613
Quarterly_Tax,0.219197,-0.198431,0.278165,-0.298432,0.306996,0.109363,-0.005452,1.000000,0.626134
Weight,0.581198,-0.470253,-0.028598,0.089614,0.335637,0.302618,0.020613,0.626134,1.000000

In [29]:

#step3:seperate the variables
#model-1
X=df.iloc[:,1:] 
#r2score=86% but multicollinearity issues existed  but VIF less than 5 so we can "model is free no multicollinearity issues"

In [30]:
#model-2 
X = df[["Age_08_04","Weight"]]
Y=df["Price"]
#r2score=80.5% and  no multicollinearity issues exist but VIF less than 5 so we can "model is free no multicollinearity issues"

In [31]:
#model-3 
X = df[["Age_08_04","Weight","KM"]]
Y=df["Price"]
#r2score=84.8% and multicollinearity issues exist but VIF less than 5 so we can "model is free no multicollinearity issues"

In [32]:
#model-4 
X = df[["Age_08_04","Weight","HP"]]
Y=df["Price"]
#r2score==83.6% and multicollinearity issues exist but VIF less than 5 so we can "model is free no multicollinearity issues"

In [33]:
#model-5 
X = df[["Age_08_04","Weight","Doors"]]
Y=df["Price"]
#r2score=80.5% and multicollinearity issues exist but VIF less than 5 so we can "model is free no multicollinearity issues"

In [34]:
#model-6 
X = df[["Age_08_04","Weight","cc"]]
Y=df["Price"]
#r2score=80.6% and multicollinearity issues exist but VIF less than 5 so we can "model is free no multicollinearity issues"

In [35]:
#model-7 
X = df[["Age_08_04","Weight","KM","HP","Gears","Quarterly_Tax"]]
Y=df["Price"]
#r2score=86.4% and no multicollinearity issues exist

In [36]:
#step4:model fitting----> Bo + B1x1
from sklearn.linear_model import LinearRegression
LR=LinearRegression()
LR.fit(X,Y)#exactly fitting the straight line through the datapoints

LinearRegression()

In [37]:

LR.intercept_#Bo value or c value
LR.coef_#B1 value or m value

array([-1.21699859e+02,  1.67251104e+01, -2.09381862e-02,  3.13268902e+01,
        5.98965326e+02,  3.73713532e+00])

In [38]:
#step5:predict the values
Y_pred=LR.predict(X)
Y

0       13500
1       13750
2       13950
3       14950
4       13750
        ...
1431     7500
1432    10845
1433     8500
1434     7250
1435     6950
Name: Price, Length: 1436, dtype: int64

In [39]:
#step6:metrics
import numpy as np
from sklearn.metrics import mean_squared_error,r2_score
mse=mean_squared_error(Y,Y_pred)
r2=r2_score(Y, Y_pred)
print("mean squared error:",mse.round(2))
print("root mean squared error:",np.sqrt(mse).round(2))
print("R-Square Value:",r2.round(2))

mean squared error: 1793203.82
root mean squared error: 1339.11
R-Square Value: 0.86

In [40]:
#statsmodels
import statsmodels.api as sma
X_new=sma.add_constant(X)
lm2=sma.OLS(Y, X_new).fit()
lm2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.864
Model:                            OLS   Adj. R-squared:                  0.863
Method:                 Least Squares   F-statistic:                     1508.
Date:                Sat, 06 May 2023   Prob (F-statistic):               0.00
Time:                        10:57:17   Log-Likelihood:                -12376.
No. Observations:                1436   AIC:                         2.477e+04
Df Residuals:                    1429   BIC:                         2.480e+04
Df Model:                           6
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const         -5478.4778   1408.562     -3.889      0.000   -8241.548   -2715.407
Age_08_04      -121.6999      2.615    -46.534      0.000    -126.830    -116.570
Weight           16.7251      1.020     16.393      0.000      14.724      18.726
KM               -0.0209      0.001    -16.769      0.000      -0.023      -0.018
HP               31.3269      2.799     11.191      0.000      25.836      36.818
Gears           598.9653    193.441      3.096      0.002     219.507     978.424
Quarterly_Tax     3.7371      1.296      2.883      0.004       1.194       6.280
==============================================================================
Omnibus:                      147.966   Durbin-Watson:                   1.540
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              966.959
Skew:                          -0.207   Prob(JB):                    1.07e-210
Kurtosis:                       6.999   Cond. No.                     3.12e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.12e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [41]:
#VARIANCE INFLUENCE FACTOR
#VIF VALUE

X_new_2=df[["Weight","KM","HP","cc","Doors","Gears","Quarterly_Tax"]]
Y_new=df["Age_08_04"]

In [42]:
X_new_3=sma.add_constant(X_new_2)
lm3=sma.OLS(Y_new,X_new_3).fit()
r_2=lm3.rsquared

In [43]:
vif=1/(1-r_2)
vif

1.8846198056602872

In [44]:

# From above analysis model-7 is getting higher r2_score=86% with no multicollinearity issues,
# Model-1 is also good with r2_score=86% and muliticollinearity issues existed but VIF value is less than 5 so this model also to be considered.
# Comparing these two models model-7 is good.